{% extends 'base.html' %} 
{% load static %} 

{% block header %}
<div class="row mt-3">
    <div class="col-8">
      <a href="/criteria/" class="tag-btn">Criteria Input </a>
      <a href="/criteria/list" class="tag-btn">Criteria List</a>
      <a href="/alternative/" class="tag-btn">Alternative Input </a>
     <a href="/alternative/list" class="tag-btn">Alternative List </a>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <table style="width:60%;">
        <thead>
          <tr>
              {% for field_name, field_label in custom_labels.items %}
                 <th>{{ field_label }}</th>
              {% endfor %}
              <th>Edit </th>
              <th>Delete </th>
          </tr>
        </thead>
       <tbody>
          {% for item in data %}
          <tr>
              <td>{{ item.value}}</td>
              <td>{{item.criteria__name}}</td>
              <td>{{item.student__name}}</td>
              <td><a href="{% url 'get_alternative_by_id' item.id %}" class="btn btn-secondary d-block mx-auto w-100">Edit</a></td>
              <td><a href="{% url 'delete_alternative_by_id' item.id %}" class="btn btn-danger d-block mx-auto w-100">Delete</a></td>
          </tr>
        {% endfor %}
        </tbody> 
      </table>
</div>

<div class="container mt-5 d-flex justify-content-center">
  {% if data.has_previous %}
  <a href="{% url 'list'%}?page={{data.previous_page_number}}" class="btn btn-secondary d-block mx-1 w-25">Previous Page</a>
  {% endif %}
  {% if data.has_next %}
  <a href="{% url 'list'%}?page={{data.next_page_number}}" class="btn btn-danger d-block mx-1 w-25">Next Page</a>
  {% endif %}
</div>
  
{% endblock%}